/* 残業申請モーダルウインドウ */

.label-overtime {
  margin-top: 5px;
}

.btn-overtime {
  margin: 15px 0;
  padding: 10%;
  width: 30%;
}

.footer-button {
  text-align:center;
}

/* 勤怠ログ*/
#edit_attendance_header {
  th,td {
    text-align: center;
  }
}

#search-attendance-log {
  margin-bottom: 20px;
}