/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 申請リンクのお知らせ */
.receive-request-link {
    border: solid 2px #ff0000;
    color: #ff0000;
    font-weight: bold
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

.label-user--index {
  margin-top: 5px;
}

.btn-user--index {
  margin-top: 10px;
}

/* 1ヶ月分勤怠申請ボタン*/

.btn-request {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

/* 出勤中社員一覧ページ */

#table-working_employees {
  text-align: center;
  th {
    text-align: center;
  }
}